<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/main-style.css">
    <script src="static/js/Chart.min.js"></script>
    <script src="static/js/jquery-3.4.1.min.js"></script>
    <title>Soybean Irrigator</title>
</head>

<body onload="preloader()">

    <div id="loader">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>

    <div class="grid-container" style="display:none;" id="loaded">
        <div class="Header">
            <h1 align="center">
                Soybean Irrigator
            </h1>
        </div>
        <div class="Explanation">
            <div class="container">
                <p>
                    Filler Text:
                    <blockquote>
                        Evapotranspiration (ET) is the sum of evaporation and plant transpiration from the Earth's land and ocean 
                        surface to the atmosphere. Evaporation accounts for the movement of water to the air from sources such as 
                        the soil, canopy interception, and waterbodies. Transpiration accounts for the movement of water within a 
                        plant and the subsequent loss of water as vapor through stomata in its leaves. Evapotranspiration is an 
                        important part of the water cycle. An element (such as a tree) that contributes to evapotranspiration can 
                        be called an evapotranspirator.
                    </blockquote>
                    <a href="https://en.wikipedia.org/wiki/Evapotranspiration">From Wikipedia</a>
                </p>
            </div>
        </div>
        <div class="Content">
            <div class="Table">
                <table>
                    <thead>
                        <tr>
                            <th>Station</th>
                            <th>Time (CST)</th>
                            <th>Temperature (&#176;F)</th>
                            <th>Wind Speed (MPH)</th>
                            <th>Humidity</th>
                            <th>Low Temperature (&#176;F)</th>
                            <th>High Temperature (&#176;F)</th>
                            <th>Precipitation (in)</th>
                        </tr>
                    </thead>

                    <tbody>
                        {%- for row in tableData -%}
                            {%- if row[1:] is defined and row[8] == False -%}
                                <tr onclick="window.location='{{ url_for('detailed', index=loop.index0) }}';">
                                    <td data-title="Station">{{ row[0] }}</td>
                                    <td data-title="Time">{{ row[1] }}</td>
                                    <td data-title="Temperature">{{ row[2] }}</td>
                                    <td data-title="Wind Speed (MPH)">{{ row[3] }}</td>
                                    <td data-title="Humidity">{{ row[4] }}</td>
                                    <td data-title="Low Temperature">{{ row[5] }}</td>
                                    <td data-title="High Temperature">{{ row[6] }}</td>
                                    <td data-title="Precipitation">{{row[7]}}</td>
                                </tr>
                            {%- else -%}
                                <tr>
                                    <td data-title="Station">{{ row[0] }}</td>
                                    <td colspan="7" style="background-color:red;"><strong>The station is temporarily not working, and will be back up shortly</strong></td>
                                </tr>
                            {%- endif -%}
                            
                        {%- endfor -%}
                    </tbody>
                </table>                    
            </div>
            <div class="Map">
                <div id="map"></div>
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBL0tWzi1kvQSpq9jTjQJiwUVXoRXtOL7U&callback=initMap"></script>
                <a name="map"><a/>
            </div>
        </div>
    </div>

    <!-- Preloader -->
    <script>
        var myVar;
        
        function preloader() {
          myVar = setTimeout(showPage, 1000);
        }
        
        function showPage() {
          document.getElementById("loader").style.display = "none";
          document.getElementById("loaded").style.display = "grid";
        }
    </script>

    <!-- Google Maps and pins -->
    <script>
        function initMap() {
            var locations = [{%- for lst in locationInfo -%}
                                [{{lst[0]}}, {{lst[1]}}, "<strong>{{lst[2]}}</strong>"],
                            {%- endfor -%}];

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 6,
                center: new google.maps.LatLng(31.284673, -89.556397),
                mapTypeId: google.maps.MapTypeId.TERRAIN
            });

            var infowindow = new google.maps.InfoWindow({});

            var marker, i;

            {% if tableData[0][1:] is defined -%}
            var precipitation = [{%- for lst in tableData -%}
                                    {{lst[7]}},
                                {%- endfor -%}];
            {%- endif %}

            for (i = 0; i < locations.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][0], locations[i][1]),
                    map: map,
                });

                
                if (precipitation.hasOwnProperty(precipitation[i]) && precipitation[i] > 0) {
                    marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')
                }
                else {
                    marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png')
                }

                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                        infowindow.setContent(locations[i][2]);
                        infowindow.open(map, marker);
                    }
                })(marker, i));

                infowindow.setContent(locations[i][2]);
                infowindow.open(map, marker);
            }
        }
    </script>
</body>

</html>